# It turns out that DreamHost's Apache is already configured to deny
# dotfile access, so we don't have to go to any extra measures here.
# Handy. But we don't want the README served up raw.

<Files README.md>
Order Allow,Deny
Deny from all
</Files>

# Redirect errors of various kinds to our own handler pages.

ErrorDocument 401 /error-pages/401.html
ErrorDocument 403 /error-pages/403.html
ErrorDocument 404 /error-pages/404.html
ErrorDocument 500 /error-pages/500.html

# Disable the automatic indexing of any directory. Trying to access
# any directory not containing an index.html file will result in a
# 403.

Options -Indexes

# Redirect any HTTP traffic to HTTPS.

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

# Shortcuts to Zoom meetings.
Redirect /zoom/board https://us02web.zoom.us/j/83550445559?pwd=M0llTWxTSFl5K1NiK1A3L1ovUHBoZz09
Redirect /zoom/general https://us02web.zoom.us/j/81770647195?pwd=eHhUdExPVVVYaVptczBpRjFTbFphdz09

# Redirects to the Square membership form.
Redirect /members_corner/Secure/membership_form.html https://csssj-membership.square.site
Redirect /welcome_visitors/membership_form.html https://csssj-membership.square.site

Redirect /forms/membership https://docs.google.com/forms/d/e/1FAIpQLSejJWEjoj1cxd4Zb3RjVd6And2yWJ64GJ1fm1MXR0GG0VtkKQ/viewform
Redirect /forms/mini-show-winners https://docs.google.com/forms/d/e/1FAIpQLScJFedywZzcZwLZxZVCGvnR5T5Kga-0wgg9ByGAXC7xM24XGg/viewform

# Redirect from the Spring 2023 to the Summer 2023 Show and Sale to
# address some external confusion.
Redirect /2023/spring-show-and-sale /2023/summer-show-and-sale
Redirect /2025/spring-show-and-sale /2025/summer-show-and-sale

Redirect /2024/spring-show-and-sale/volunteer https://www.signupgenius.com/go/805084CAEAE2EA7FD0-48609387-spring
Redirect /2025/summer-show-and-sale/volunteer https://www.signupgenius.com/go/10C094BA4AB23A0FBC52-57003610-2025
Redirect /2025/fall-show-and-sale/volunteer https://www.signupgenius.com/go/10C094BA4AB23A0FBC52-58909990-csssj
